<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newpay.webauth.dal.mapper.LoginUserAccountMapper">

	<resultMap id="baseResultMap" type="com.newpay.webauth.dal.model.LoginUserAccount">
			<result property="loginId" column="LOGIN_ID" jdbcType="NUMERIC"/>
			<result property="loginName" column="LOGIN_NAME" jdbcType="VARCHAR"/>
			<result property="loginMobie" column="LOGIN_MOBILE" jdbcType="VARCHAR"/>
			<result property="loginEmail" column="LOGIN_EMAIL" jdbcType="VARCHAR"/>
			<result property="loginPwd" column="LOGIN_PWD" jdbcType="VARCHAR"/>
			<result property="status" column="STATUS" jdbcType="NUMERIC"/>
			<result property="pwdErrCount" column="PWD_ERR_COUNT" jdbcType="VARCHAR"/>
			<result property="pwdErrTime" column="PWD_ERR_TIME" jdbcType="VARCHAR"/>
			<result property="lastAuthUuid" column="LAST_AUTH_UUID" jdbcType="VARCHAR"/>
			<result property="lastAuthTime" column="LAST_AUTH_TIME" jdbcType="VARCHAR"/>
			<result property="registerTime" column="REGISTER_TIME" jdbcType="VARCHAR"/>
			<result property="updateTime" column="UPDATE_TIME" jdbcType="VARCHAR"/>
			<result property="version" column="VERSION" jdbcType="NUMERIC"/>
			<result property="idCardName" column="IDCARD_NAME" jdbcType="VARCHAR"/>
			<result property="idCardNo" column="IDCARD_NO" jdbcType="VARCHAR"/>
			<result property="nickName" column="NICK_NAME" jdbcType="VARCHAR"/>
			<result property="headImg" column="HEAD_IMG" jdbcType="VARCHAR"/>

			
	</resultMap>

	
</mapper>

