<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newpay.webauth.dal.mapper.SignInfoManagerMapper">

	<resultMap id="baseResultMap" type="com.newpay.webauth.dal.model.SignInfoManager">
			<result property="signInfoValue" column="SIGN_INFO_VALUE" jdbcType="VARCHAR"/>
			<result property="createTime" column="CREATE_TIME" jdbcType="NUMERIC"/>
	</resultMap>
	<delete id="deleteAllHistoryValue">
		<![CDATA[delete from TBL_SIGN_INFO_MANAGER where CREATE_TIME <#{createTime} ]]>
	</delete>
</mapper>

